# Fluxo de trabalho para construir e publicar o site no GitHub Pages
name: Deploy to GitHub Pages

on:
  # Executa em pushes para a branch principal
  push:
    branches: ["main"]

  # Permite que você execute este fluxo de trabalho manualmente na aba Actions
  workflow_dispatch:

# Define as permissões do GITHUB_TOKEN para permitir a publicação no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permite apenas uma publicação concorrente
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Grant execute permission to Vite
        run: chmod +x node_modules/.bin/vite
      - name: Build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Faz o upload do diretório dist
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
